 @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

 * {
   margin     : 0;
   padding    : 0;
   box-sizing : border-box;
   font-family: 'Arvo', sans-serif;
 }

 #aa {
   background-repeat: no-repeat;
 }